configstoremanager:
  class:org.kin.kafka.multithread.configcenter.manager.impl.RedisConfigStoreManager
  server:
    host:localhost
    port:6379
adminprotocol:
  port:60000
diamondmasterprotocol:
  port:60001